@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #AE1332;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1245px) {
  .container {
    max-width: 1245px;
  }
}

.header {
  background-color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}

.nav-link {
  text-decoration: none;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ae1332;
}

.nav-logo {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  color: #ae1332;
}

.nav-burger {
  display: block;
  font-size: 24px;
  background-color: transparent;
  border: 0;
  color: #ae1332;
}
@media screen and (min-width: 768px) {
  .nav-burger {
    display: none;
  }
}

.hero {
  padding: 56px 20px 80px 20px;
}
.hero__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 386px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 513px;
  }
}
.hero__img {
  position: absolute;
  width: 335px;
  height: 509px;
  top: 154px;
  left: 20px;
  border-radius: 500px;
  z-index: -1;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__img {
    width: 452px;
    height: 702px;
    top: 172px;
    left: 158px;
  }
}
.hero__banana {
  position: absolute;
  width: 66px;
  height: 44px;
  transform: rotateX(-20deg);
  top: 166px;
  left: 13px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero__banana {
    width: 132px;
    height: 90px;
    top: 219px;
    left: 27.22px;
  }
}
.hero__strawberry {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 106px;
  left: 299px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero__strawberry {
    width: 108px;
    height: 108px;
    top: 105px;
    left: 623px;
  }
}
.hero__btn {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  transform: rotateZ(-14deg);
  margin-bottom: 44px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
  color: #ae1332;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    width: 114px;
    height: 114px;
    font-size: 28px;
    line-height: 28px;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .hero__list {
    flex-direction: row;
    justify-content: center;
    gap: 144px;
  }
}
.hero__text {
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  letter-spacing: -4%;
  vertical-align: middle;
  padding-left: 33px;
  color: #ffffff;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding-left: 0;
  }
}
.hero__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  width: 272px;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .hero__tags {
    margin: 0;
    margin-left: 15px;
  }
}
.hero__tags__text {
  display: block;
  padding: 12px;
  width: 132px;
  border: 1px solid #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 1000px;
}
.hero__example {
  width: 249px;
  height: 387px;
  border-radius: 500px;
  background-color: #a4cb66;
  padding: 28px 25px 40px 25px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__example {
    margin-left: 32px;
  }
}
.hero__example__name {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 61px;
}
.hero__example__description {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}
.hero .hero__item:last-child .hero__example__name {
  margin-bottom: 19px;
}
.hero .hero__item:last-child .hero__example {
  padding: 28px 44px 40px 43px;
  background-color: #f5ce13;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .hero .hero__item:last-child {
    display: flex;
    flex-direction: column-reverse;
  }
}

.order {
  background-color: #ae1332;
}
.order > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 350px;
}
@media screen and (min-width: 768px) and (max-width: 1244px) {
  .order__title {
    font-size: 40px;
    line-height: 1.1;
    width: 730px;
  }
}
.order__desc {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2857142857;
  text-align: center;
  color: white;
  width: 356px;
  margin-top: 14px;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1244px) {
  .order__desc {
    width: 540px;
  }
}
.order__steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .order__steps {
    gap: 24px;
  }
}
@media screen and (min-width: 1245px) {
  .order__steps {
    flex-direction: row;
  }
}
.order__step {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 20px;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 1244px) {
  .order__step {
    padding: 40px 20px;
  }
}
.order__step > p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2857142857;
  width: 145px;
}
@media screen and (min-width: 768px) and (max-width: 1244px) {
  .order__step > p {
    width: 199px;
  }
}
.order__step > div {
  width: 136px;
  height: 48px;
  padding: 12px 0;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.3333333333;
  text-align: center;
  color: white;
  border-radius: 200px;
}
.order__step--first > div {
  background-color: #ae1332;
}
.order__step--second > div {
  background-color: #a1c864;
}
.order__step--third > div {
  background-color: #f5ce13;
}

.fresh {
  align-items: center;
  text-align: center;
}

.fresh__title {
  padding: 0 232px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  align-items: center;
  color: white;
}

.fresh__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.frsh__text {
  padding: 0 362px;
  margin: 80px 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.fresh__input {
  border: none;
  width: 170px;
  background-color: transparent;
  height: 40px;
  opacity: 1;
}

.fresh__button {
  border: 1px solid #9dc162;
  width: 102px;
  height: 48px;
  opacity: 1;
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;
  padding-left: 35px;
  background-color: #9dc162;
  border: none;
  border-radius: 100px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  text-transform: capitalize;
  color: white;
}

.fresh__form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
  width: 292px;
  height: 48px;
  border-radius: 100px;
  border-width: 1px;
  justify-content: center;
  gap: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.footer {
  background: rgb(255, 255, 255);
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 1245px) {
  .footer {
    text-align: start;
  }
}

@media screen and (min-width: 1245px) {
  .footer-lists {
    display: flex;
    flex-direction: row;
  }
}

.first-footer-list {
  margin-bottom: 24px;
}

.footer-img {
  width: 100%;
  border-radius: 20%;
}
@media screen and (min-width: 768px) {
  .footer-img {
    border-radius: 100px;
  }
}

.logo-svg {
  position: relative;
  top: 19px;
  right: 85px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.logo-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(174, 19, 50);
}

.second-footer-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 44px;
}

.footer-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: center;
  color: rgb(174, 19, 50);
}

.third-footer-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 44px;
}

.footer-svg {
  width: 24px;
  height: 24px;
  fill: rgb(174, 19, 50);
}

.num-footer {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgb(174, 19, 50);
  margin-bottom: 14px;
  text-align: center;
}

.footer-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color: rgb(174, 19, 50);
  margin-left: 100px;
  margin-right: 100px;
}/*# sourceMappingURL=index.css.map */