.fresh {
  align-items: center;
  text-align: center;
  padding: 80px;
  @media screen and (min-width: 1200px) {
    align-items: center;
    text-align: center;
    padding-bottom: 150px;
  }
}
.fresh__title {
  padding: 20px 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  align-items: center;
  color: white;

  @media screen and (min-width: 1200px) {
    padding: 0 232px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -4%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    align-items: center;
    color: white;
  }
}
.fresh__list {
  display: flex;
  justify-content: center;
  gap: 24px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
.fresh__item {
}
.fresh__img {
  width: 335px;
  height: 476;
}
.frsh__text {
  display: none;
  @media screen and (min-width: 1200px) {
    display: inline-block;
    padding: 0 362px;
    margin: 80px 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -4%;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
}
.fresh__input {
  border: none;
  width: 170px;
  background-color: transparent;
  height: 40px;
  opacity: 1;
  @media screen and (min-width: 1200px) {
    border: none;
    width: 170px;
    background-color: transparent;
    height: 40px;
    opacity: 1;
  }
}
.fresh__button {
  visibility: hidden;
  @media screen and (min-width: 1200px) {
    visibility: visible;
    border: 1px solid #9dc162;
    width: 102px;
    height: 48px;
    opacity: 1;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left: 35px;
    background-color: #9dc162;
    border: none;
    border-radius: 100px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -4%;
    text-transform: capitalize;
    color: white;
  }
}
.fresh__form {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    display: flex;
    width: 292px;
    height: 48px;
    border-radius: 100px;
    border-width: 1px;
    justify-content: center;
    gap: 0;

    background-color: transparent;
    border: 1px solid #ffffff;
  }
}
.firstimg {
  width: 335px;
  height: 476px;
  @media screen and (min-width: 1200px) {
    visibility: visible;
    width: 792px;
    height: 502px;
  }
}
.secondimg {
  display: none;
  width: 0;
  @media screen and (min-width: 1200px) {
    display: block;
    width: 400px;
    height: 502px;
  }
}
