.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}

.nav-link {
  text-decoration: none;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  color: #ae1332;
}

.nav-logo {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  color: #ae1332;
}

.nav-burger {
  display: block;
  font-size: 24px;
  background-color: transparent;
  border: 0;
  color: #ae1332;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
