.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}

.nav-link {
  text-decoration: none;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  color: #ae1332;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  color: #ae1332;
}

.nav-burger {
  display: block;
  font-size: 24px;
  background-color: transparent;
  border: 0;
  color: #ae1332;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-svg {
  display: none;
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.header-svg-logo {
  width: 20px;
  height: 20px;
}

.is-hidden {
  display: none;
}

.mob {
  text-align: center;
  margin-top: 124px;
  height: 812px;
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mob-link {
  color: white;
}

.no-scroll {
  overflow: hidden;
}
