.hero {
  padding: 56px 20px 80px 20px;
  &__title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -4%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
  }
}
