
.organic {
  margin-top: 0;
  margin-bottom: 144px;
}
.organic__div {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.organic__title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.organic__text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
}

.organic__list {
  flex-direction: column;
  gap: 14px;
  margin-top: 0;
  margin-bottom: 44px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .organic__list {
    flex-flow: wrap;
    justify-content: center;
    gap: 16px;
    display: flex;
  }
}

@media screen and (min-width: 1245px) {
  .organic__list {
    gap: 24px;
  }
}

.organic__item {
  padding-top: 64px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.organic__item:nth-child(1) {
  width: 335px;
  height: 465px;
  background: #f8766b;
  border-radius: 20px;
}

.organic__item:nth-child(2) {
  width: 335px;
  height: 465px;
  background: #edd251;
  border-radius: 20px;
}

.organic__item:nth-child(3) {
  width: 335px;
  height: 465px;
  background: #9dc262;
  border-radius: 20px;
}
.organic__item:nth-child(3) > img {
  width: 295px;
  height: 251px;
}
.organic__item:nth-child(4) {
  width: 335px;
  height: 465px;
  background: #bfd663;
  border-radius: 20px;
}

.organic__item:nth-child(5) {
  width: 335px;
  height: 465px;
  background: #e93f29;
  border-radius: 20px;
}

.organic__item:nth-child(6) {
  width: 335px;
  height: 465px;
  background: #db4f4b;
  border-radius: 20px;
}

.organic__item:nth-child(7) {
  display: none;
}

@media screen and (min-width: 768px) {
  .organic__item:nth-child(7) {
    width: 335px;
    height: 465px;
    background: #9b5366;
    border-radius: 20px;
    display: block;
  }
}

.organic__item:nth-child(8) {
  display: none;
}

@media screen and (min-width: 768px) {
  .organic__item:nth-child(8) {
    width: 335px;
    height: 465px;
    background: #f47f4c;
    border-radius: 20px;
    display: block;
  }
}

.organic__item:nth-child(9) {
  display: none;
}

@media screen and (min-width: 1245px) {
  .organic__item:nth-child(9) {
    width: 335px;
    height: 465px;
    background: #98b37e;
    border-radius: 20px;
    display: block;
  }
}

.organic__item__title {
  letter-spacing: -0.04em;
  color: #fff;
  letter-spacing: -0.04em;
  color: #fff;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 119%;
}

@media screen and (min-width: 768px) {
  .organic__item__title {
    letter-spacing: -0.04em;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
}

.organic__item__text {
  letter-spacing: -0.02em;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .organic__item__text {
    letter-spacing: -0.02em;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}


.organic__button {
  letter-spacing: -0.04em;
  color: #ae1332;
  border: none;
  border-radius: 200px;
  padding: 12px 24px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .organic__button {
    letter-spacing: -0.04em;
    color: #ae1332;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}
.strawberry__img {
  margin-bottom: 5px;
}
.organic__button__order {
  padding-top: 26px;
  padding-right: 8px;
  padding-bottom: 26px;
  padding-left: 7px;
  aspect-ratio: 1/1;
  background: rgba(157, 194, 98, 1);
  border: none;
  border-radius: 100%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: rotate(-25deg);
  cursor: pointer;
  @media screen and (min-width: 768px) {
    padding-top: 38px;
    padding-right: 16.89px;
    padding-bottom: 38.92px;
    padding-left: 18px;
  }
}
.button__arrow {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  fill: rgba(255, 255, 255, 1);
}