<footer class="footer">
  <div class="container">
    <ul class="footer-lists">
      <li>
        <ul class="first-footer-list">
          <li class="first-fopter-item">
            <img
              src="./images/woman-banana-pink.png"
              alt="банана вумен"
              class="footer-img"
            />
          </li>
          <li class="first-fopter-item">
            <svg class="logo-svg">
              <use href="./images/symbol-defs.svg#icon-logo"></use>
            </svg>
            <p class="logo-text">fresh harvest box</p>
          </li>
        </ul>
      </li>
      <li>
        <ul class="second-footer-list">
          <li class="second-footer-item">
            <a
              href="https://www.figma.com/design/kheRdGmgbVFkNx6EAlc9TQ/Fresh-Harvest-Box--Copy-?node-id=81-43&t=0oZQmogECEKH9Xv1-0"
              class="footer-link"
              >How It Works</a
            >
          </li>
          <li class="second-footer-item">
            <a
              href="https://www.figma.com/design/kheRdGmgbVFkNx6EAlc9TQ/Fresh-Harvest-Box--Copy-?node-id=81-43&t=0oZQmogECEKH9Xv1-0"
              class="footer-link"
              >Fruits</a
            >
          </li>
          <li class="second-footer-item">
            <a
              href="https://www.figma.com/design/kheRdGmgbVFkNx6EAlc9TQ/Fresh-Harvest-Box--Copy-?node-id=81-43&t=0oZQmogECEKH9Xv1-0"
              class="footer-link"
              >Contacts</a
            >
          </li>
        </ul>
      </li>
      <li>
        <ul class="third-footer-list">
          <li class="third-footer-item">
            <svg class="footer-svg">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="third-footer-item">
            <svg class="footer-svg">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="third-footer-item">
            <a href="" class="svg-link">
              <svg class="footer-svg">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
       
      </li>
      <li>
        <ul class="fourth-footer-list">
          <li class="fourth-footer-item">
             <p class="num-footer">+380 (68) 443-94-26</p>
            <p class="footer-text">
              1678 S. Pioneer Road Salt Lake City UT 84104
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
