<footer>
  <div class="container">
    <div class="footer-lists">
      <ul>
        <li><img src="./images/women-banana.png" alt="" /></li>
        <li>
          <svg>
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          <p>fresh harvest box</p>
        </li>
      </ul>
      <ul>
        <li>How It Works</li> 
        <li>Fruits</li>
        <li>Contacts</li>
      </ul>
      <ul>
        <li>
          <svg>
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="./images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </li>
      </ul>
      <ul>
        <li>
          <span>+380 (68) 443-94-26</span> 1678 S. Pioneer Road Salt Lake City
          UT 84104
        </li>
      </ul>
    </div>
  </div>
</footer>
