<footer class="footer">
  <div class="container footer-container">
    <div class="footer-left-wrap">
      <div class="first-footer-div">
        <img
          src="./images/woman-banana-pink.png"
          alt="банана вумен"
          class="footer-img"
        />

        <p class="logo-text">
          <svg class="logo-svg">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          fresh harvest box
        </p>
      </div>
      <ul class="second-footer-list">
        <li class="second-footer-item">
          <a
            href="https://www.figma.com/design/kheRdGmgbVFkNx6EAlc9TQ/Fresh-Harvest-Box--Copy-?node-id=81-43&t=0oZQmogECEKH9Xv1-0"
            class="footer-link"
            >How It Works</a
          >
        </li>
        <li class="second-footer-item">
          <a
            href="https://www.figma.com/design/kheRdGmgbVFkNx6EAlc9TQ/Fresh-Harvest-Box--Copy-?node-id=81-43&t=0oZQmogECEKH9Xv1-0"
            class="footer-link"
            >Fruits</a
          >
        </li>
        <li class="second-footer-item">
          <a
            href="https://www.figma.com/design/kheRdGmgbVFkNx6EAlc9TQ/Fresh-Harvest-Box--Copy-?node-id=81-43&t=0oZQmogECEKH9Xv1-0"
            class="footer-link"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-right-wrap">
      <ul class="third-footer-list">
        <li class="third-footer-item">
          <svg class="footer-svg">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="third-footer-item">
          <svg class="footer-svg">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="third-footer-item">
          <a href="" class="svg-link">
            <svg class="footer-svg">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="fourth-footer-div">
        <a class="num-footer">+380 (68) 443-94-26</a>
        <a class="footer-text">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </a>
      </div>
    </div>
  </div>
</footer>
