<section class="fresh">
    <h1 class="fresh__title"> Fresh Harvest Box has got you covered</h1>
    <ul class="fresh__list">
        <!-- <li class="fresh__item"><img src="" alt="" class="fresh__img"></li> -->
        <!-- <li class="fresh__item"><img src="" alt="" class="fresh__img"></li> -->
    </ul>
    <p class="frsh__text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <input type="email" class="fresh__input">
    <button class="fresh__button"></button>
</section>