<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">How It Works</a></li>
        <li class="nav-item"><a href="" class="nav-link">Fruits</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contacts</a></li>
      </ul>

      <a class="nav-logo">
        <svg class="header-svg-logo">
          <use href="./images/header/3-dot-menu.svg"></use>
        </svg>
        FRESH HARVEST BOX
      </a>
      <svg class="header-svg">
        <use href="./images/header/header-basket.svg"></use>
      </svg>
      <button class="nav-burger">☰</button>
    </nav>
  </div>
</header>
