<section class="organic">
  <div class="organic__div container">
    <h2 class="organic__title">ORGANIC FRUITS</h2>
    <p class="organic__text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you <br />
      get the freshest and most nutritious produce possible. <br />
      We offer a wide selection of organic fruits grown without <br />
      the use of harmful pesticides or chemicals.
    </p>
    <ul class="organic__list">
      <li class="organic__item">
        <h3 class="organic__item__title">Strawberry</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/strawberry.png"
          alt="strawberry"
          class="fruits__img"
        /><button type="button" class="organic__button">100 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Banana</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-banana.png"
          alt="Banana"
          class="fruits__img"
        />
        <button type="button" class="organic__button">80 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Watermelon</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/watermelon.png"
          alt="Watermelon"
          class="fruits__img"
        />
        <button type="button" class="organic__button">40 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Lime</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-lime.png"
          alt="Lime"
          class="fruits__img"
        />
        <button type="button" class="organic__button">60 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Apple</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-apple.png"
          alt="Apple"
          class="fruits__img"
        /><button type="button" class="organic__button">50 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Peach</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-peach.png"
          alt="Peach"
          class="fruits__img"
        />
        <button type="button" class="organic__button">80 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Plums</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-plums.png"
          alt="Plums"
          class="fruits__img"
        />
        <button type="button" class="organic__button">40 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Orange</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-orange.png"
          alt="Orange"
          class="fruits__img"
        /><button type="button" class="organic__button">60 UAH / kg</button>
      </li>
      <li class="organic__item">
        <h3 class="organic__item__title">Kiwi</h3>
        <p class="organic__item__text">Plant</p>
        <img
          src="./images/organic/organic-kiwi.png"
          alt="Kiwi"
          class="fruits__img"
        /><button type="button" class="organic__button">60 UAH / kg</button>
      </li>
    </ul>
    <button type="button" class="organic__button__order">
      <svg class="button__arrow">
        <use href="./images/symbol-defs.svg#icon-arrow"></use></svg>ORDER
    </button>
  </div>
</section>